*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --scale: 5;
}
img {
  max-width: 100%;
  height: auto;
}

body {
  color: #333;
  margin: 0;
  padding: 0px;
  font-size: 100%;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
p {
  font-size: 1.6rem;
}
#app h1 {
  font-size: 2.5rem;
  text-align: center;
}
#app h2 {
  font-size: 2.2rem;
  text-align: center;
}
main {
  margin: 1rem;
}
h1 {
  text-transform: uppercase;
  font-size: 4em;
  font-weight: 400;
}
.actions {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.help {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
